/*b30000 b80000*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
}
html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f6f6f9;
}

.container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 300px auto;
}

aside {
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

aside .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #2949ae;
    /*color: #b30000;*/
}

aside .logo img {
    width: 40px;
    height: auto;
    overflow: hidden;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 40px;
}

aside .sidebar h3,
aside .sidebar span {
    color: #7d8da1;
}

aside .sidebar a {
    display: flex;
    margin-left: 16px;
    gap: 16px;
    align-items: center;
    height: 50px;
    position: relative;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 20px;
    transition: all 300ms ease;
}

aside .sidebar a.active {
    background-color: #f4f8ff;
    color: #2949ae;
    margin-left: 0;
}
aside .sidebar a.active h3 {
    color: #2949ae;
}

aside .sidebar a.active::before {
    content: "";
    width: 6px;
    height: 100%;
    background-color: #2949ae;
}

aside .sidebar a.active span {
    color: #2949ae;
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: #2949ae;
}

aside .sidebar a:hover span,
aside .sidebar a:hover h3 {
    margin-left: 1rem;
    color: #2949ae;
}
main{
    margin-left: 300px;
    padding: 30px;
    width: calc(100% - 300px);
}
main > h1 {
    padding-bottom: 20px;
    color: #2949ae;

}

/*.content {*/
/*    padding: 15px 30px 0 30px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    min-height: 250px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);*/
/*    margin-top: 50px;*/
/*}*/
.content {
    padding: 40px;
    min-height: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/*.box-header,*/
/*.box-add {*/
/*    padding: 1.5rem 1.5rem;*/
/*    border-bottom: 1px solid rgba(72, 94, 144, 0.16);*/
/*    background-color: #fff;*/
/*    !*border-top-left-radius: 10px;*!*/
/*    !*border-top-right-radius: 10px;*!*/

/*}*/
.content-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

}
.box-header{
    width: 50%;
    color: #2949ae;
}
.box-add button{
    border-radius: 5px;
}
.box-header p {
    font-size: 1.5rem;
}
table{
    /*border-collapse: collapse;*/
    border-spacing: 0;
    font-size: 16px;
}
.box-body {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.box-body tr{
    height: 50px;
    background-color: rgba(41, 73, 174, 0.1);
}
.box-body td {
    border-right: solid white 1px;
}
.box-body tbody tr:nth-child(2n+1){
    background-color: white;
}
.box-body tbody tr:nth-child(2n+1) td{
    border-right: solid rgba(41, 73, 174, 0.1) 1px;
    border-left: solid rgba(41, 73, 174, 0.1) 1px;
}
.box-body thead tr{
    height: 50px;
    color: #fff;
    background-color: #2949ae;
}

.box-body tr td > a {
    color: black;
}

.box-body tr td:not(:last-child) {
    padding-left: 16px;
}

.box-body tr td:last-child {
    text-align: center;
}

.box-add button {
    padding: 10px 20px;
    background-color: #2949ae;
    color: #fff;
    cursor: pointer;
}
.box-add button:hover{
    background-color: #20367e;
}

tr{
    border-bottom: solid #ccc 1px;
}
/*============================== Modal add ============================*/

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modalFadeIn 0.3s ease-in-out;
}
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    transform: translateY(-100%);
    transition: transform 5ms ease-in-out;
}

.modal-content-delete {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    transform: translateY(-100%);
    transition: transform 5ms ease-in-out;
}


.modal.show {
    display: block;
}

.modal-header {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
}

.modal.show .modal-content {
    transform: translateY(0);
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #888;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#addExamForm,
#addUserForm,
#updateUserForm,
#updateExamForm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*background-color: #f5f5f5;*/
    margin-top: 20px;
    font-size: 16px;
}
#addExamForm label,
#addUserForm label,
#updateUserForm label,
#updateExamForm label{
    font-weight: bold;
}
#addExamForm div,
#addUserForm div,
#updateUserForm div,
#updateExamForm div {
    margin-bottom: 12px;
}
#addExamForm h2,
#addExamForm input{
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] ,
input[type="password"]{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="number"]{
    padding: 8px;
    border: 1px solid #ccc;
    width: 50px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
input[type="datetime-local"]{
    padding: 8px;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
input::file-selector-button{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    cursor: pointer;

}
input::file-selector-button:hover{
    border: 1px solid #2949ae;
    color: #2949ae;
}

select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
}

.form-bot {
    display: flex;
    justify-content: space-between;
}

.form-bot > .close {
    font-size: 13px !important;
}

button[type="submit"] {
    background-color: #2949ae;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #20367e;
}



/*showQuestion*/

.question{
    padding: 10px;
    border-bottom: solid 1px #ddd;
}
.question > div:last-child {
    padding: 20px;
    font-size: 18px;
}
.questionContent{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.answer > div{
    padding: 10px;
    padding-left: 50px;
    font-size: 16px;
}




